# Data Overview
This notebook provides a visual overview of the different data inputs to the visualization

In [1]:
import pandas as pd

## Raw Data
Raw data downloaded from https://github.com/dfiorino/audl-pull/tree/master/output

## Processed data
This [script](https://github.com/zwrankin/audl-viz/blob/master/src/data/process_team_indicators.py) aggregates the raw data and saves processed csvs to https://github.com/zwrankin/audl-viz/tree/master/data/processed.

In [2]:
df_player = pd.read_csv('../data/processed/player_indicators.csv')
df_player.head()

,year,team,opponent,date,game,player,Completions,Assists,Throwaways,Receptions,Goals,Drops,Ds,Turnovers,Plus_Minus
0,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,AJ Nelson,22.0,3.0,2.0,24.0,11.0,1.0,2.0,3.0,13.0
1,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,Alex Drlica-Wagner,6.0,0.0,1.0,7.0,0.0,0.0,0.0,1.0,-1.0
2,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,Andy Nielsen,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,Bob Liu,37.0,2.0,1.0,32.0,0.0,1.0,0.0,2.0,0.0
4,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,Brett Kolinek,11.0,0.0,0.0,7.0,1.0,0.0,1.0,0.0,2.0

In [3]:
df_team = pd.read_csv('../data/processed/team_indicators.csv')
df_team.head()

,year,team,opponent,date,game,Goals,Catches,Ds,Turnovers,Drops,Throwaways,Goals_against
0,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,22,192.0,7.0,31.0,3.0,28.0,23
1,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-26,Chicago Wildfire_Cincinnati Revolution_2014-04-26,27,185.0,23.0,54.0,8.0,46.0,12
2,2014,Chicago Wildfire,Cincinnati Revolution,2014-06-28,Chicago Wildfire_Cincinnati Revolution_2014-06-28,21,273.0,17.0,51.0,10.0,41.0,11
3,2014,Chicago Wildfire,Detroit Mechanix,2014-05-03,Chicago Wildfire_Detroit Mechanix_2014-05-03,18,193.0,21.0,78.0,15.0,63.0,9
4,2014,Chicago Wildfire,Detroit Mechanix,2014-06-04,Chicago Wildfire_Detroit Mechanix_2014-06-04,31,154.0,8.0,43.0,2.0,41.0,17

In [4]:
df_wins = pd.read_csv('../data/processed/team_indicators_EOY.csv')
df_wins.head()

             team  year  Wins  Losses    Win_pct
0  Atlanta Hustle  2015    10       4  71.428571
1  Atlanta Hustle  2016     8       8  50.000000
2  Atlanta Hustle  2017     5       9  35.714286
3  Atlanta Hustle  2018     7       7  50.000000
4      Austin Sol  2016     7       7  50.000000