## Calculate player statistics
Starting out, I'm unsure how player statistics will or will not have shared processing with team stats

In [1]:
%load_ext autoreload
%autoreload 2

In [80]:
import pandas as pd
import numpy as np
from src.data.utils import load_raw_data
from src.data.process_team_indicators import index_vars, make_team_indicators, make_player_indicators

In [31]:
df_raw = load_raw_data()

In [52]:
df_raw.Action.unique()

array(['Catch', 'Goal', 'Pull', 'D', 'Throwaway', 'EndOfFirstQuarter',
       'Drop', 'Halftime', 'EndOfThirdQuarter', 'PullOb', 'GameOver',
       'EndOfFourthQuarter', 'Callahan'], dtype=object)

In [54]:
# df_raw.query('Action == "Pull"')[['Player 1','Player 2']]

In [45]:
df_raw.loc[df_raw.Receiver.isna()].query('Action == "Goal"')

Empty DataFrame
Columns: [index, Unnamed: 0, Date/Time, opponent, Point Elapsed Seconds, Line, Our Score - End of Point, Their Score - End of Point, Event Type, Action, Passer, Receiver, Defender, Hang Time (secs), Player 0, Player 1, Player 2, Player 3, Player 4, Player 5, Player 6, Player 7, Player 8, Player 9, Player 10, Player 11, Player 12, Player 13, Player 14, Player 15, Player 16, Player 17, Player 18, Player 19, Player 20, Player 21, Player 22, Player 23, Player 24, Player 25, Player 26, Player 27, Elapsed Time (secs), Begin Area, Begin X, Begin Y, End Area, End X, End Y, Distance Unit of Measure, Absolute Distance, Lateral Distance, Toward Our Goal Distance, team, Tournament, datetime, date, year, game]
Index: []

[0 rows x 59 columns]

In [150]:
%%time
df = make_team_indicators(return_df=True)
# df.head()

c:\users\zrankin\documents\github\audl-viz\src\data\process_team_indicators.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\zrankin\documents\github\audl-viz\src\data\process_team_indicators.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Make indicators

Wall time: 13.8 s

In [151]:
df_final = pd.read_csv('../data/processed/team_indicators_EOY.csv')

In [55]:
%%time
df = make_player_indicators(return_df=True)
df.head()

Wall time: 20.8 s

In [101]:
df_team = pd.read_csv('../data/processed/team_indicators.csv')
df_team.head()

,year,team,opponent,date,game,Goals,Catches,Ds,Turnovers,Drops,Throwaways,Goals_against
0,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,22,192.0,7.0,31.0,3.0,28.0,23
1,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-26,Chicago Wildfire_Cincinnati Revolution_2014-04-26,27,185.0,23.0,54.0,8.0,46.0,12
2,2014,Chicago Wildfire,Cincinnati Revolution,2014-06-28,Chicago Wildfire_Cincinnati Revolution_2014-06-28,21,273.0,17.0,51.0,10.0,41.0,11
3,2014,Chicago Wildfire,Detroit Mechanix,2014-05-03,Chicago Wildfire_Detroit Mechanix_2014-05-03,18,193.0,21.0,78.0,15.0,63.0,9
4,2014,Chicago Wildfire,Detroit Mechanix,2014-06-04,Chicago Wildfire_Detroit Mechanix_2014-06-04,31,154.0,8.0,43.0,2.0,41.0,17

In [145]:
df = pd.read_csv('../data/processed/player_indicators.csv')

In [146]:
df.head()

,year,team,opponent,date,game,player,Completions,Assists,Throwaways,Receptions,Goals,Drops,Ds,Turnovers,Plus_Minus
0,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,AJ Nelson,22.0,3.0,2.0,24.0,11.0,1.0,2.0,3.0,13.0
1,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,Alex Drlica-Wagner,6.0,0.0,1.0,7.0,0.0,0.0,0.0,1.0,-1.0
2,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,Andy Nielsen,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,Bob Liu,37.0,2.0,1.0,32.0,0.0,1.0,0.0,2.0,0.0
4,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,Brett Kolinek,11.0,0.0,0.0,7.0,1.0,0.0,1.0,0.0,2.0

In [ ]:
df = df_raw.copy()

In [131]:
# Yearly team statistics, starting with total wins, losses

df_final = df[df.Action == 'GameOver']
df_final['Wins'] = 0
df_final['Losses'] = 0
df_final.loc[df_final['Our Score - End of Point'] < df_final['Their Score - End of Point'], 'Losses'] = 1
df_final.loc[df_final['Our Score - End of Point'] > df_final['Their Score - End of Point'], 'Wins'] = 1

c:\users\zrankin\appdata\local\continuum\miniconda3\envs\audl\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
c:\users\zrankin\appdata\local\continuum\miniconda3\envs\audl\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [137]:
df_final = df_final.groupby(['team', 'year'])['Wins', 'Losses'].sum().reset_index()
df_final.to_csv(f'../data/processed/team_indicators_EOY.csv', index=False)

In [149]:
df_final.head()

                    team  year  Wins  Losses
0       Chicago Wildfire  2014     9       6
1  Cincinnati Revolution  2014     4      10

# Gini coefficient

In [81]:
def gini(x):
    # https://stackoverflow.com/questions/39512260/calculating-gini-coefficient-in-python-numpy
    # https://en.wikipedia.org/wiki/Gini_coefficient

    # Mean absolute difference
    mad = np.abs(np.subtract.outer(x, x)).mean()
    # Relative mean absolute difference
    rmad = mad/np.mean(x)
    # Gini coefficient
    g = 0.5 * rmad
    return g

In [147]:
# NOTE - the cleaner apply function wasn't working, I'm not sure why
# df.groupby('team')[player_indicators].apply(gini, axis=0)
df_gini = pd.concat([pd.DataFrame(df.groupby('team')[i].apply(gini)) for i in player_indicators], axis=1)
[df_gini.rename(columns = {i: i + '_gini'}, inplace=True) for i in player_indicators]

[None, None, None, None, None, None]

In [148]:
df_gini.head()

,Completions_gini,Throwaways_gini,Receptions_gini,Goals_gini,Drops_gini,Ds_gini
team,,,,,,
Atlanta Hustle,0.468933,0.624602,0.441461,0.586546,0.863862,0.660577
Austin Sol,0.497472,0.631449,0.471392,0.603851,0.848009,0.667331
Charlotte Express,0.514950,0.601310,0.484235,0.640267,0.801391,0.647181
Chicago Wildfire,0.508436,0.614647,0.481837,0.635702,0.808707,0.649134
Cincinnati Revolution,0.528697,0.583261,0.499929,0.635453,0.830387,0.655940

In [117]:
[testing.rename(columns = {i: i + '_gini'}, inplace=True) for i in player_indicators]

[None, None, None, None, None, None]

In [118]:
testing.head()

,Completions_gini,Throwaways_gini,Receptions_gini,Goals_gini,Drops_gini,Ds_gini
team,,,,,,
Atlanta Hustle,0.468933,0.624602,0.441461,0.586546,0.863862,0.660577
Austin Sol,0.497472,0.631449,0.471392,0.603851,0.848009,0.667331
Charlotte Express,0.514950,0.601310,0.484235,0.640267,0.801391,0.647181
Chicago Wildfire,0.508436,0.614647,0.481837,0.635702,0.808707,0.649134
Cincinnati Revolution,0.528697,0.583261,0.499929,0.635453,0.830387,0.655940

In [107]:
df.groupby('team')[player_indicators].apply(gini)

,Completions,Throwaways,Receptions,Goals,Drops,Ds
team,,,,,,
Atlanta Hustle,0.280448,3.662025,0.280090,2.699586,21.005209,5.450331
Austin Sol,0.285227,2.950690,0.284641,2.743265,17.875469,5.422109
Charlotte Express,0.286846,2.966326,0.285639,3.274516,12.882950,5.071736
Chicago Wildfire,0.283587,3.640748,0.283086,3.598597,13.700444,6.087223
Cincinnati Revolution,0.288692,2.445916,0.288268,3.533689,15.273387,5.680185
DC Breeze,0.281326,3.329726,0.280664,2.761603,15.870252,5.003109
Dallas Roughnecks,0.286761,3.549885,0.285954,2.706859,22.490546,4.667258
Detroit Mechanix,0.285319,2.441540,0.287516,4.068309,11.561872,5.934073
Indianapolis AlleyCats,0.292407,3.116119,0.289444,2.609019,15.347719,4.617461
Jacksonville Cannons,0.289770,3.719916,0.289518,2.815260,16.939279,6.503801
Los Angeles Aviators,0.281786,3.823123,0.280972,2.989570,20.868658,5.836391
Madison Radicals,0.277605,3.955703,0.277315,2.535707,13.817866,3.858853
Minnesota Wind Chill,0.286131,3.540675,0.285129,3.151072,13.898330,4.439415
Montreal Royal,0.286282,2.597721,0.284872,2.677313,13.038087,4.341435
Nashville NightWatch,0.289930,2.902116,0.288482,3.130430,14.043967,6.395021
New York Empire,0.283639,2.990113,0.282844,2.851079,26.183696,4.476880
Ottawa Outlaws,0.288980,2.838941,0.288955,2.718762,12.748651,5.050281
Philadelphia Phoenix,0.288877,2.744768,0.288547,3.572726,13.495787,5.976452
Pittsburgh Thunderbirds,0.290632,3.227391,0.289860,2.711529,15.410176,4.766784
Raleigh Flyers,0.286403,3.848080,0.285696,2.622672,16.338825,4.870227
Rochester Dragons,0.293271,2.641422,0.292172,4.052743,11.075963,6.745223
San Diego Growlers,0.279839,3.862777,0.278961,3.193349,20.052356,6.235794
San Francisco FlameThrowers,0.282106,3.052726,0.281342,2.555088,16.371812,4.883115
San Jose Spiders,0.283705,3.465112,0.283052,2.716735,23.393426,5.637892
Seattle Cascades,0.301752,2.960522,0.300320,2.291169,15.177700,4.812442
Seattle Raptors,0.279416,2.457836,0.279333,3.398380,12.895222,4.504073
Tampa Bay Cannons,0.293553,5.739166,0.293408,4.153872,38.322821,8.366250
Toronto Rush,0.278065,3.312518,0.277315,2.342502,14.821776,3.917184
Vancouver Riptide,0.283815,2.910019,0.282750,2.591874,12.841560,4.575131

In [103]:
df.groupby('team')['Assists'].apply(gini).sort_values()

SyntaxError: invalid syntax (<ipython-input-103-7f140a60748f>, line 1)

In [108]:
pd.DataFrame.apply?

In [94]:
df.groupby('team')['Ds'].apply(gini).sort_values()

team
Dallas Roughnecks              0.612103
Toronto Rush                   0.620289
San Francisco FlameThrowers    0.630886
Minnesota Wind Chill           0.636478
Montreal Royal                 0.640101
DC Breeze                      0.641809
Pittsburgh Thunderbirds        0.641995
Charlotte Express              0.647181
Raleigh Flyers                 0.647411
Chicago Wildfire               0.649134
Vancouver Riptide              0.650594
Madison Radicals               0.651883
Cincinnati Revolution          0.655940
Indianapolis AlleyCats         0.657125
Detroit Mechanix               0.658211
Seattle Cascades               0.658557
Seattle Raptors                0.660069
Atlanta Hustle                 0.660577
Austin Sol                     0.667331
Los Angeles Aviators           0.668249
New York Empire                0.672833
Philadelphia Phoenix           0.673139
Ottawa Outlaws                 0.673512
San Jose Spiders               0.676380
Tampa Bay Cannons              0.678060
Nashville NightWatch           0.681193
San Diego Growlers             0.681400
Rochester Dragons              0.687874
Jacksonville Cannons           0.694073
Name: Ds, dtype: float64

In [92]:
gini_coefs

,Completions,Throwaways,Receptions,Goals,Drops,Ds
team,,,,,,
Atlanta Hustle,0.280448,3.662025,0.280090,2.699586,21.005209,5.450331
Austin Sol,0.285227,2.950690,0.284641,2.743265,17.875469,5.422109
Charlotte Express,0.286846,2.966326,0.285639,3.274516,12.882950,5.071736
Chicago Wildfire,0.283587,3.640748,0.283086,3.598597,13.700444,6.087223
Cincinnati Revolution,0.288692,2.445916,0.288268,3.533689,15.273387,5.680185
DC Breeze,0.281326,3.329726,0.280664,2.761603,15.870252,5.003109
Dallas Roughnecks,0.286761,3.549885,0.285954,2.706859,22.490546,4.667258
Detroit Mechanix,0.285319,2.441540,0.287516,4.068309,11.561872,5.934073
Indianapolis AlleyCats,0.292407,3.116119,0.289444,2.609019,15.347719,4.617461
Jacksonville Cannons,0.289770,3.719916,0.289518,2.815260,16.939279,6.503801
Los Angeles Aviators,0.281786,3.823123,0.280972,2.989570,20.868658,5.836391
Madison Radicals,0.277605,3.955703,0.277315,2.535707,13.817866,3.858853
Minnesota Wind Chill,0.286131,3.540675,0.285129,3.151072,13.898330,4.439415
Montreal Royal,0.286282,2.597721,0.284872,2.677313,13.038087,4.341435
Nashville NightWatch,0.289930,2.902116,0.288482,3.130430,14.043967,6.395021
New York Empire,0.283639,2.990113,0.282844,2.851079,26.183696,4.476880
Ottawa Outlaws,0.288980,2.838941,0.288955,2.718762,12.748651,5.050281
Philadelphia Phoenix,0.288877,2.744768,0.288547,3.572726,13.495787,5.976452
Pittsburgh Thunderbirds,0.290632,3.227391,0.289860,2.711529,15.410176,4.766784
Raleigh Flyers,0.286403,3.848080,0.285696,2.622672,16.338825,4.870227
Rochester Dragons,0.293271,2.641422,0.292172,4.052743,11.075963,6.745223
San Diego Growlers,0.279839,3.862777,0.278961,3.193349,20.052356,6.235794
San Francisco FlameThrowers,0.282106,3.052726,0.281342,2.555088,16.371812,4.883115
San Jose Spiders,0.283705,3.465112,0.283052,2.716735,23.393426,5.637892
Seattle Cascades,0.301752,2.960522,0.300320,2.291169,15.177700,4.812442
Seattle Raptors,0.279416,2.457836,0.279333,3.398380,12.895222,4.504073
Tampa Bay Cannons,0.293553,5.739166,0.293408,4.153872,38.322821,8.366250
Toronto Rush,0.278065,3.312518,0.277315,2.342502,14.821776,3.917184
Vancouver Riptide,0.283815,2.910019,0.282750,2.591874,12.841560,4.575131

In [85]:
%%time
gini(df.query('team == "Chicago Wildfire"').Assists)

Wall time: 187 ms

0.6526119046042222

In [86]:
%%time
gini(df.query('team == "Cincinnati Revolution"').Assists)

Wall time: 6.92 ms

0.6569210472904403

In [84]:
gini(df['Assists'])

KeyboardInterrupt:

In [72]:
player_team = df[['player', 'year', 'team']].drop_duplicates()
player_team.head()

               player  year              team
0           AJ Nelson  2014  Chicago Wildfire
1  Alex Drlica-Wagner  2014  Chicago Wildfire
2        Andy Nielsen  2014  Chicago Wildfire
3             Bob Liu  2014  Chicago Wildfire
4       Brett Kolinek  2014  Chicago Wildfire

In [76]:
player_indicators.remove('Assists')

In [77]:
player_indicators

['Completions', 'Throwaways', 'Receptions', 'Goals', 'Drops', 'Ds']

In [64]:
player_indicators  = ['Completions', 'Assists', 'Throwaways', 'Receptions', 'Goals', 'Drops', 'Ds']
df2 = df.groupby(['player', 'team'])[player_indicators].sum().reset_index()
dff = df2.melt(id_vars=['player', 'team'], value_vars=player_indicators, var_name='indicator')
# df2 = df.melt(id_vars=index_vars + ['player'], value_vars=player_indicators, var_name='indicator')
# df2.head()

dff[dff.indicator == 'Ds'].sort_values('value', ascending=False)[:10]

                       player                     team indicator  value
13774            Peter Graffy         Madison Radicals        Ds  158.0
12328         Andrew Meshnick         Madison Radicals        Ds  146.0
13866              Ryan Drost          New York Empire        Ds  139.0
13814              Rick Gross   Indianapolis AlleyCats        Ds  121.0
13612              Mike Drost          New York Empire        Ds  114.0
12352        Anson Reppermund  Pittsburgh Thunderbirds        Ds   99.0
13691             Nick Hutton   Indianapolis AlleyCats        Ds   95.0
14029      Steven Milardovich       San Diego Growlers        Ds   95.0
13349  Kevin Pettit-Scantling         Madison Radicals        Ds   91.0
13156         Jimmy Kittlesen     Minnesota Wind Chill        Ds   89.0

In [50]:
df.groupby('player')['Plus_Minus'].sum().sort_values()

player
Bob Liu              -11.0
Phil Cherosky         -5.0
Aaron Bacon           -3.0
Ben Jansen            -3.0
Eric Converse         -1.0
Nick BIssonnette      -1.0
Rob Greenberg          0.0
Andy Nielsen           0.0
Jordan Rhyne           0.0
Tim Fergus             0.0
Ben Rehmann            1.0
Rob S                  2.0
Dane Olsen             2.0
Connor Haley           2.0
Todd Grace             2.0
Aaron Corley           3.0
John Siemer            4.0
Brodie Smith           4.0
James Roush            4.0
Danny Shonk            5.0
Kane Olson             6.0
Kevin Kula             6.0
Xtehn Titcomb          6.0
Stephane Mance         7.0
Michael Ames           8.0
Travis Knight          8.0
Taylor Kraemer         8.0
Brett Kolinek          8.0
Chris Powers           9.0
Will Huffer            9.0
                      ...
Patrick Kaufmann      11.0
Neal Phelps           11.0
Geoff Serednesky      12.0
Ben Sever             12.0
Ben Blatz             12.0
Nick Wetzel           12.0
Mark Fedorenko        12.0
Joe Mozloom           13.0
Gary LeDonne          15.0
Alex Drlica-Wagner    15.0
Alan Huels            15.0
Jeff Kula             17.0
Eddie Mack            17.0
Von Alanguilan        18.0
Andrew Sheehan        18.0
Michael Ford          18.0
Casey Degnan          19.0
Cullen Geppert        20.0
Kevin Baumann         20.0
Ron Kubalanza         21.0
Gregory Slover        22.0
Matt Muhlenkamp       22.0
Chris Vandervoort     23.0
Tim Settles           28.0
Walden Nelson         30.0
Nate Botti            31.0
John Kolb             33.0
Kevin Kelly           34.0
Goose Helton          61.0
AJ Nelson             69.0
Name: Plus_Minus, Length: 62, dtype: float64

In [30]:
df.player.unique()

array(['AJ Nelson', 'Alex Drlica-Wagner', 'Andy Nielsen', 'Bob Liu',
       'Brett Kolinek', 'Chris Vandervoort', 'Dan Williams',
       'Gary LeDonne', 'Goose Helton', 'Gregory Slover', 'James Roush',
       'Kevin Kelly', 'Rob Greenberg', 'Ron Kubalanza', 'Von Alanguilan',
       'Xtehn Titcomb', 'Andrew Sheehan', 'Cullen Geppert', 'Dane Olsen',
       'Geoff Serednesky', 'George Hughes-Strange', 'John Kolb',
       'Stephane Mance', 'Taylor Kraemer', 'Ben Rehmann', 'Casey Degnan',
       'Neal Phelps', 'Tim Fergus', 'Walden Nelson', 'Rob S',
       'Brodie Smith', 'Alan Huels', 'Ben Blatz', 'Ben Sever',
       'Chris Powers', 'Danny Shonk', 'Eddie Mack', 'Jeff Kula',
       'Joe Mozloom', 'John Siemer', 'Kane Olson', 'Kevin Baumann',
       'Mark Fedorenko', 'Matt Muhlenkamp', 'Michael Ames',
       'Michael Ford', 'Nate Botti', 'Nick Wetzel', 'Patrick Kaufmann',
       'Phil Cherosky', 'Tim Settles', 'Aaron Bacon', 'Jordan Rhyne',
       'Will Huffer', 'Eric Converse', 'Nick BIssonnette', 'Todd Grace',
       'Travis Knight', 'Aaron Corley', 'Ben Jansen', 'Kevin Kula',
       'Connor Haley'], dtype=object)

In [14]:
df.query('Action == "Throwaway"')[['Passer', 'Receiver', 'Action', 'Event Type']]

                Passer Receiver     Action Event Type
27         Kevin Kelly      NaN  Throwaway    Offense
28                 NaN      NaN  Throwaway    Defense
32                 NaN      NaN  Throwaway    Defense
61      Cullen Geppert      NaN  Throwaway    Offense
69      Andrew Sheehan      NaN  Throwaway    Offense
70                 NaN      NaN  Throwaway    Defense
82                 NaN      NaN  Throwaway    Defense
86         Kevin Kelly      NaN  Throwaway    Offense
87                 NaN      NaN  Throwaway    Defense
91      Andrew Sheehan      NaN  Throwaway    Offense
109     Cullen Geppert      NaN  Throwaway    Offense
126       Goose Helton      NaN  Throwaway    Offense
141      Brett Kolinek      NaN  Throwaway    Offense
160                NaN      NaN  Throwaway    Defense
171                NaN      NaN  Throwaway    Defense
184                NaN      NaN  Throwaway    Offense
203                NaN      NaN  Throwaway    Defense
243                NaN      NaN  Throwaway    Defense
265                NaN      NaN  Throwaway    Defense
270       Dan Williams      NaN  Throwaway    Offense
310         Dane Olsen      NaN  Throwaway    Offense
314              Rob S      NaN  Throwaway    Offense
320     Cullen Geppert      NaN  Throwaway    Offense
324       Gary LeDonne      NaN  Throwaway    Offense
344                NaN      NaN  Throwaway    Defense
351            Bob Liu      NaN  Throwaway    Offense
352                NaN      NaN  Throwaway    Defense
359       Goose Helton      NaN  Throwaway    Offense
380                NaN      NaN  Throwaway    Defense
386      Xtehn Titcomb      NaN  Throwaway    Offense
...                ...      ...        ...        ...
9080               NaN      NaN  Throwaway    Defense
9099               NaN      NaN  Throwaway    Defense
9103        Alan Huels      NaN  Throwaway    Offense
9118       Will Huffer      NaN  Throwaway    Offense
9119               NaN      NaN  Throwaway    Defense
9121         Ben Blatz      NaN  Throwaway    Offense
9127        Kane Olson      NaN  Throwaway    Offense
9128               NaN      NaN  Throwaway    Defense
9137               NaN      NaN  Throwaway    Defense
9149        Kane Olson      NaN  Throwaway    Offense
9203        Kane Olson      NaN  Throwaway    Offense
9204               NaN      NaN  Throwaway    Defense
9219       John Siemer      NaN  Throwaway    Offense
9222     Eric Converse      NaN  Throwaway    Offense
9228         Ben Blatz      NaN  Throwaway    Offense
9232     Eric Converse      NaN  Throwaway    Offense
9233               NaN      NaN  Throwaway    Defense
9238      Chris Powers      NaN  Throwaway    Offense
9244               NaN      NaN  Throwaway    Defense
9254               NaN      NaN  Throwaway    Defense
9268        Kane Olson      NaN  Throwaway    Offense
9284      Michael Ames      NaN  Throwaway    Offense
9287               NaN      NaN  Throwaway    Defense
9288               NaN      NaN  Throwaway    Offense
9289               NaN      NaN  Throwaway    Defense
9294  Nick BIssonnette      NaN  Throwaway    Offense
9303     Travis Knight      NaN  Throwaway    Offense
9304               NaN      NaN  Throwaway    Defense
9361        Todd Grace      NaN  Throwaway    Offense
9363      Michael Ford      NaN  Throwaway    Offense

[1030 rows x 4 columns]

In [5]:
df.columns

Index(['index', 'Unnamed: 0', 'Date/Time', 'Opponent', 'Point Elapsed Seconds',
       'Line', 'Our Score - End of Point', 'Their Score - End of Point',
       'Event Type', 'Action', 'Passer', 'Receiver', 'Defender',
       'Hang Time (secs)', 'Player 0', 'Player 1', 'Player 2', 'Player 3',
       'Player 4', 'Player 5', 'Player 6', 'Player 7', 'Player 8', 'Player 9',
       'Player 10', 'Player 11', 'Player 12', 'Player 13', 'Player 14',
       'Player 15', 'Player 16', 'Player 17', 'Player 18', 'Player 19',
       'Player 20', 'Player 21', 'Player 22', 'Player 23', 'Player 24',
       'Player 25', 'Player 26', 'Player 27', 'Elapsed Time (secs)',
       'Begin Area', 'Begin X', 'Begin Y', 'End Area', 'End X', 'End Y',
       'Distance Unit of Measure', 'Absolute Distance', 'Lateral Distance',
       'Toward Our Goal Distance', 'Teamname', 'Tournament'],
      dtype='object')

In [6]:
df.date

AttributeError: 'DataFrame' object has no attribute 'date'

In [ ]:
import pandas as pd
from src.data.process_team_indicators import  make_team_indicators

In [ ]:
%%time
# Run data extraction
make_team_indicators()