# Team statistics

### Priority: Hold pct, break pct  

### To add: scoring pct by possession (O/D specific)  

### Stategy: get for both each game and season total

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from src.data.utils import DATA_DIR, load_raw_data, subset_years
from src.visualization.utils import palette_df, palette
from src.data.process_team_indicators import index_vars

In [3]:
df = load_raw_data()
df.head()

/Users/zrankin/github/audl-viz/src/data/utils.py:11: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  df = pd.concat([pd.read_csv(f'{DATA_DIR}/raw/{f}') for f in files])

,index,Absolute Distance,Action,Begin Area,Begin X,Begin Y,Date/Time,Defender,Distance Unit of Measure,Elapsed Time (secs),...,Receiver,team,Their Score - End of Point,Tournament,Toward Our Goal Distance,Unnamed: 0,datetime,date,year,game
0,0,NaN,Catch,NaN,NaN,NaN,2018-03-31 16:11,NaN,NaN,0.0,...,Keenan Plew,Indianapolis AlleyCats,0.0,AUDL 2018,NaN,0,2018-03-31 16:11:00,2018-03-31,2018,Indianapolis AlleyCats_Detroit Mechanix_2018-0...
1,1,NaN,Catch,NaN,NaN,NaN,2018-03-31 16:11,NaN,NaN,9.0,...,Levi Jacobs,Indianapolis AlleyCats,0.0,AUDL 2018,NaN,1,2018-03-31 16:11:00,2018-03-31,2018,Indianapolis AlleyCats_Detroit Mechanix_2018-0...
2,2,NaN,Throwaway,NaN,NaN,NaN,2018-03-31 16:11,NaN,NaN,13.0,...,NaN,Indianapolis AlleyCats,0.0,AUDL 2018,NaN,2,2018-03-31 16:11:00,2018-03-31,2018,Indianapolis AlleyCats_Detroit Mechanix_2018-0...
3,3,NaN,Throwaway,NaN,NaN,NaN,2018-03-31 16:11,NaN,NaN,32.0,...,NaN,Indianapolis AlleyCats,0.0,AUDL 2018,NaN,3,2018-03-31 16:11:00,2018-03-31,2018,Indianapolis AlleyCats_Detroit Mechanix_2018-0...
4,4,NaN,Throwaway,NaN,NaN,NaN,2018-03-31 16:11,NaN,NaN,38.0,...,NaN,Indianapolis AlleyCats,0.0,AUDL 2018,NaN,4,2018-03-31 16:11:00,2018-03-31,2018,Indianapolis AlleyCats_Detroit Mechanix_2018-0...

In [4]:
df.query("Action == 'Goal'").head()

,index,Absolute Distance,Action,Begin Area,Begin X,Begin Y,Date/Time,Defender,Distance Unit of Measure,Elapsed Time (secs),...,Receiver,team,Their Score - End of Point,Tournament,Toward Our Goal Distance,Unnamed: 0,datetime,date,year,game
16,16,NaN,Goal,NaN,NaN,NaN,2018-03-31 16:11,NaN,NaN,139.0,...,Rick Gross,Indianapolis AlleyCats,0.0,AUDL 2018,NaN,16,2018-03-31 16:11:00,2018-03-31,2018,Indianapolis AlleyCats_Detroit Mechanix_2018-0...
18,18,NaN,Goal,NaN,NaN,NaN,2018-03-31 16:11,NaN,NaN,237.0,...,NaN,Indianapolis AlleyCats,1.0,AUDL 2018,NaN,18,2018-03-31 16:11:00,2018-03-31,2018,Indianapolis AlleyCats_Detroit Mechanix_2018-0...
20,20,NaN,Goal,NaN,NaN,NaN,2018-03-31 16:11,NaN,NaN,309.0,...,Keegan North,Indianapolis AlleyCats,1.0,AUDL 2018,NaN,20,2018-03-31 16:11:00,2018-03-31,2018,Indianapolis AlleyCats_Detroit Mechanix_2018-0...
27,27,NaN,Goal,NaN,NaN,NaN,2018-03-31 16:11,NaN,NaN,411.0,...,Colin Ringwood,Indianapolis AlleyCats,1.0,AUDL 2018,NaN,27,2018-03-31 16:11:00,2018-03-31,2018,Indianapolis AlleyCats_Detroit Mechanix_2018-0...
36,36,NaN,Goal,NaN,NaN,NaN,2018-03-31 16:11,NaN,NaN,562.0,...,Joey Cari,Indianapolis AlleyCats,1.0,AUDL 2018,NaN,36,2018-03-31 16:11:00,2018-03-31,2018,Indianapolis AlleyCats_Detroit Mechanix_2018-0...

In [5]:
from src.data.process_team_indicators import make_team_indicators

In [10]:
make_team_indicators()

In [11]:
df_eoy = pd.read_csv(f'{DATA_DIR}/processed/team_indicators_EOY.csv')
df_eoy.head()

,year,team,Goals,Catches,Ds,Turnovers,Drops,Throwaways,Goals_against,Hold_pct,Break_pct,Win_pct
0,2014,Cincinnati Revolution,257,2547.0,157.0,592.0,86.0,506.0,331,0.590769,0.247148,0.285714
1,2014,DC Breeze,346,3438.0,177.0,560.0,63.0,497.0,344,0.646377,0.356522,0.666667
2,2014,Detroit Mechanix,217,2947.0,176.0,711.0,111.0,600.0,380,0.481183,0.168889,0.000000
3,2014,Indianapolis AlleyCats,310,3236.0,189.0,578.0,85.0,493.0,311,0.701299,0.300319,0.533333
4,2014,Madison Radicals,379,3633.0,294.0,523.0,62.0,461.0,249,0.800000,0.473545,0.812500

In [12]:
df1 = df_eoy.query('year == 2018')
indicators = ['Hold_pct', 'Win_pct']
dff = df1.melt(id_vars='team', value_vars=indicators, var_name='indicator')
dff.head()

                team indicator     value
0     Atlanta Hustle  Hold_pct  0.729299
1         Austin Sol  Hold_pct  0.674556
2   Chicago Wildfire  Hold_pct  0.754153
3          DC Breeze  Hold_pct  0.716923
4  Dallas Roughnecks  Hold_pct  0.788462

In [13]:
dff["rank"] = dff.groupby("indicator")["value"].rank("dense", ascending=False)
dff.head()

                team indicator     value  rank
0     Atlanta Hustle  Hold_pct  0.729299  11.0
1         Austin Sol  Hold_pct  0.674556  18.0
2   Chicago Wildfire  Hold_pct  0.754153   6.0
3          DC Breeze  Hold_pct  0.716923  13.0
4  Dallas Roughnecks  Hold_pct  0.788462   3.0

Object `pd.rank` not found.

In [ ]:
dff.groupby("indicator")["value"].rank

In [10]:
# Make indicators
dummies = pd.get_dummies(df['Action'])
df = pd.concat([df, dummies], axis=1)
df['Turnovers'] = df.Throwaway + df.Drop
# For goals, we want to separate whether the team is on Offense or Defense
df['Goals_against'] = 0
df.loc[df['Event Type'] == 'Defense', 'Goals_against'] = df['Goal']
df.loc[df['Event Type'] == 'Defense', 'Goal'] = 0

In [13]:
is_goal = df['Action'] == "Goal"
is_oline = df['Line'] == 'O'
df.loc[(is_goal) & (is_oline) & (df['Event Type'] == 'Offense'), 'Holds'] = 1
df.loc[(is_goal) & (is_oline) & (df['Event Type'] == 'Defense'), 'Holds'] = 0

df.loc[(is_goal) & (~is_oline) & (df['Event Type'] == 'Offense'), 'Breaks'] = 1
df.loc[(is_goal) & (~is_oline) & (df['Event Type'] == 'Defense'), 'Breaks'] = 0

df.Holds.mean()

0.6612835695914827

In [81]:
index_vars = ['year', 'team', 'opponent', 'date', 'game']
team_indicators = ['Goals', 'Catches', 'Ds', 'Turnovers', 'Drops', 'Throwaways', 'Goals_against',
                  'Hold_pct', 'Break_pct']
team_eoy_indicators = ['Win_pct', 'Hold_pct', 'Break_pct']
player_indicators  = ['Completions', 'Assists', 'Throwaways', 'Receptions', 'Goals', 'Drops', 'Ds', 'Turnovers', 'Plus_Minus']

def make_team_indicators(return_df = False):

    df = load_raw_data()

    # Make indicators
    dummies = pd.get_dummies(df['Action'])
    df = pd.concat([df, dummies], axis=1)
    df['Turnovers'] = df.Throwaway + df.Drop
    # For goals, we want to separate whether the team is on Offense or Defense
    df['Goals_against'] = 0
    df.loc[df['Event Type'] == 'Defense', 'Goals_against'] = df['Goal']
    df.loc[df['Event Type'] == 'Defense', 'Goal'] = 0
    
    is_goal = df['Action'] == "Goal"
    is_oline = df['Line'] == 'O'
    df.loc[(is_goal) & (is_oline) & (df['Event Type'] == 'Offense'), 'Hold_pct'] = 1
    df.loc[(is_goal) & (is_oline) & (df['Event Type'] == 'Defense'), 'Hold_pct'] = 0
    df.loc[(is_goal) & (~is_oline) & (df['Event Type'] == 'Offense'), 'Break_pct'] = 1
    df.loc[(is_goal) & (~is_oline) & (df['Event Type'] == 'Defense'), 'Break_pct'] = 0
    
    # Let's be intensional with indicator names
    rename_ind_dict = {
        'Goal': 'Goals',
        'Catch': 'Catches',
        'D': 'Ds',
        'Drop': 'Drops',
        'Throwaway': 'Throwaways',
    }
    df.rename(columns=rename_ind_dict, inplace=True)

    # Reshape wide and save - NOTE that normally I'd do hdf but was having dash compatability issues so csv it is
    # df_wide = df.groupby(index_vars)[team_indicators].sum().reset_index()
    df_wide = pd.merge(
        df.groupby(index_vars)[[i for i in team_indicators if 'pct' not in i]].sum().reset_index(),
        df.groupby(index_vars)[[i for i in team_indicators if 'pct' in i]].mean().reset_index(),
        on=index_vars, how='outer')
    df_wide.to_csv(f'{DATA_DIR}/processed/team_indicators.csv', index=False)
    
    # Yearly team statistics
    game_over = df.Action == 'GameOver'
    scored_more_points = df['Our Score - End of Point'] > df['Their Score - End of Point']
    df.loc[(game_over) & (scored_more_points), 'Win_pct'] = 1
    df.loc[(game_over) & (~scored_more_points), 'Win_pct'] = 0
    df_final = df.groupby(['team', 'year'])[team_eoy_indicators].mean().reset_index()
    df_final.to_csv(f'{DATA_DIR}/processed/team_indicators_EOY.csv', index=False)

    if return_df:
        return df_wide

In [82]:
df_wide = make_team_indicators(return_df = True)

In [92]:
df_wide = pd.read_csv(f'{DATA_DIR}/processed/team_indicators.csv')
df_wide.head()

,year,team,opponent,date,game,Goals,Catches,Ds,Turnovers,Drops,Throwaways,Goals_against,Hold_pct,Break_pct
0,2014,Cincinnati Revolution,Chicago Wildfire,2014-04-18,Cincinnati Revolution_Chicago Wildfire_2014-04-18,23,254.0,11.0,28.0,6.0,22.0,22,0.857143,0.208333
1,2014,Cincinnati Revolution,Chicago Wildfire,2014-04-26,Cincinnati Revolution_Chicago Wildfire_2014-04-26,12,1.0,4.0,74.0,20.0,54.0,26,0.360000,0.230769
2,2014,Cincinnati Revolution,Chicago Wildfire,2014-06-28,Cincinnati Revolution_Chicago Wildfire_2014-06-28,11,40.0,14.0,55.0,7.0,48.0,21,0.500000,0.083333
3,2014,Cincinnati Revolution,Detroit Mechanix,2014-05-02,Cincinnati Revolution_Detroit Mechanix_2014-05-02,25,160.0,18.0,40.0,3.0,37.0,13,0.733333,0.608696
4,2014,Cincinnati Revolution,Detroit Mechanix,2014-05-10,Cincinnati Revolution_Detroit Mechanix_2014-05-10,20,171.0,21.0,51.0,5.0,46.0,15,0.764706,0.388889

In [70]:
df_final = pd.read_csv(f'{DATA_DIR}/processed/team_indicators_EOY.csv')

In [104]:
df_t = pd.read_csv(f'{DATA_DIR}/processed/team_indicators.csv')
df_t = df_t.melt(id_vars=index_vars, value_vars=team_indicators, var_name='indicator')
df_t = pd.merge(df_t, palette_df, how='outer').sort_values('team')

year = 2015
team = 'Atlanta Hustle'
indicators = ['Hold_pct', 'Break_pct']
df1 = subset_years(df_t, year)

df1 = df1[df1.team == team]

#df1['indicator'] = pd.Categorical(df1.indicator, indicators)
dff = df1.sort_values(['indicator', 'date'], ascending=[False, True])
dff.head()

,year,team,opponent,date,game,indicator,value,color1,color2
8996,2015,Atlanta Hustle,Raleigh Flyers,2015-04-11,Atlanta Hustle_Raleigh Flyers_2015-04-11,Turnovers,40.0,#8D8D94,#302E5F
8985,2015,Atlanta Hustle,Charlotte Express,2015-04-12,Atlanta Hustle_Charlotte Express_2015-04-12,Turnovers,47.0,#8D8D94,#302E5F
8992,2015,Atlanta Hustle,Nashville NightWatch,2015-04-18,Atlanta Hustle_Nashville NightWatch_2015-04-18,Turnovers,53.0,#8D8D94,#302E5F
8988,2015,Atlanta Hustle,Jacksonville Cannons,2015-04-26,Atlanta Hustle_Jacksonville Cannons_2015-04-26,Turnovers,42.0,#8D8D94,#302E5F
8993,2015,Atlanta Hustle,Nashville NightWatch,2015-05-03,Atlanta Hustle_Nashville NightWatch_2015-05-03,Turnovers,33.0,#8D8D94,#302E5F

In [ ]:
dff1

In [112]:
def map_colors(x, palette, n):
    if x in palette.keys():
        return palette[x][n]
    else: 
        return '#000000'
    
dff['opponent_color1'] = dff.opponent.transform(lambda x: map_colors(x, palette, 0))
dff['opponent_color2'] = dff.opponent.transform(lambda x: map_colors(x, palette, 1))
#dff['opponent_color1'] = dff.opponent.transform(lambda x: palette[x][0])
#dff['opponent_color2'] = dff.opponent.transform(lambda x: palette[x][1])
dff.head()

,year,team,opponent,date,game,indicator,value,color1,color2,opponent_color1,opponent_color2
8996,2015,Atlanta Hustle,Raleigh Flyers,2015-04-11,Atlanta Hustle_Raleigh Flyers_2015-04-11,Turnovers,40.0,#8D8D94,#302E5F,#9A2B2C,#0E4A68
8985,2015,Atlanta Hustle,Charlotte Express,2015-04-12,Atlanta Hustle_Charlotte Express_2015-04-12,Turnovers,47.0,#8D8D94,#302E5F,#000000,#000000
8992,2015,Atlanta Hustle,Nashville NightWatch,2015-04-18,Atlanta Hustle_Nashville NightWatch_2015-04-18,Turnovers,53.0,#8D8D94,#302E5F,#800000,#000000
8988,2015,Atlanta Hustle,Jacksonville Cannons,2015-04-26,Atlanta Hustle_Jacksonville Cannons_2015-04-26,Turnovers,42.0,#8D8D94,#302E5F,#000000,#000000
8993,2015,Atlanta Hustle,Nashville NightWatch,2015-05-03,Atlanta Hustle_Nashville NightWatch_2015-05-03,Turnovers,33.0,#8D8D94,#302E5F,#800000,#000000

In [88]:
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [91]:
data = [
            go.Scatter(
            x=dff[dff.indicator == i]['date'],
            y=dff[dff.indicator == i]['value'],
            name=i,
            mode='markers+lines',
            marker={
                'size': 10,
                'opacity': 0.5,
                # 'line': {'width': 0}
            },
            line={'width': 0.4}
        ) for i in indicators
        ]

iplot(data)

In [87]:
dff.indicator.unique()

array(['Turnovers', 'Throwaways', 'Hold_pct', 'Goals_against', 'Goals',
       'Ds', 'Drops', 'Catches', 'Break_pct'], dtype=object)

In [73]:
df = load_raw_data()
df.year.unique()

/Users/zrankin/github/audl-viz/src/data/utils.py:11: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  df = pd.concat([pd.read_csv(f'{DATA_DIR}/raw/{f}') for f in files])

array([2018, 2014, 2016, 2015, 2017])

In [55]:
df_final.head()

                team  year   Win_pct  Hold_pct  Break_pct
0     Atlanta Hustle  2015  0.714286  0.745981   0.343840
1     Atlanta Hustle  2016  0.500000  0.706806   0.278947
2         Austin Sol  2016  0.500000  0.717718   0.334278
3  Charlotte Express  2015  0.142857  0.591176   0.252747
4  Charlotte Express  2016  0.285714  0.612805   0.259124

In [27]:
team_indicators = ['Goals', 'Catches', 'Ds', 'Turnovers', 'Drops', 'Throwaways', 'Goals_against', 'Hold_pct', 'Break_pct']
team_indicators_mean = ['Hold_pct', 'Break_pct']
team_indicators.remove(team_indicators_mean)

ValueError: list.remove(x): x not in list

In [25]:
df_wide = df.groupby(index_vars)[['Holds', 'Breaks', 'Goal']].mean().reset_index()
df_wide.tail()

,year,team,opponent,date,game,Holds,Breaks,Goal
745,2016,Indianapolis AlleyCats,Minnesota Wind Chill,2016-04-30,Indianapolis AlleyCats_Minnesota Wind Chill_20...,0.631579,0.363636,0.057307
746,2016,Indianapolis AlleyCats,Minnesota Wind Chill,2016-05-07,Indianapolis AlleyCats_Minnesota Wind Chill_20...,0.739130,0.250000,0.059896
747,2016,Indianapolis AlleyCats,Pittsburgh Thunderbirds,2016-05-14,Indianapolis AlleyCats_Pittsburgh Thunderbirds...,0.782609,0.419355,0.076923
748,2016,Indianapolis AlleyCats,Pittsburgh Thunderbirds,2016-06-26,Indianapolis AlleyCats_Pittsburgh Thunderbirds...,0.846154,0.250000,0.083095
749,2016,Indianapolis AlleyCats,Pittsburgh Thunderbirds,2016-07-02,Indianapolis AlleyCats_Pittsburgh Thunderbirds...,0.600000,0.296296,0.089347